.body{
    .overview{
        h4{color: #333333;}
        p{color: #9C9C9C;}
    }
    .contact-sect{
        background: #2C3878;
        h4,p{color:#fff}
        button{background: #FFFFFF; color: #333333;}
    }
}