<div class="w-full justify-center px-4 py-8">
    <div class="flex flex-col jusify-center items-center text-center">
        <h1 class="text-5xl font-bold mb-6">Minimalist Room</h1>
        <p class="text-base  w-full md:w-2/5 mb-6">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
    </div>
    <img src="assets/img/header-img.svg" alt="" class="w-full h-auto border-none rounded shadow align-middle">
</div>

<!-- using grid here to create a two column -->
<div class="w-full grid grid-cols-1 sm:grid-cols-2 gap-4 px-4">
    <div class="flex flex-col">
        <h4 class="text-xl font-semibold mb-2">Project Overview</h4>
        <p class="text-base mb-8">Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere. Online learning with us does not
             interfere with your daily life. because learning can be done anytime and anywhere. Online learning with us does not interfere with your daily life. because learning
              can be done anytime and anywhere. </p>
        <div class="flex items-center relative bottom-0 ">
            <p class="text-sm mr-12">July 22 - 2022</p>
            <p class="text-sm">Interior Design - Furnitur</p>
        </div>
    </div>
    
    <div class="flex flex-col">
        <h4 class="text-xl font-semibold mb-2">Design Process</h4>
        <p class="text-base mb-2">Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere. Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere.</p>
        <p class="text-base">Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere. Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere.</p>
    </div>
</div>

<div class="w-full grid grid-cols-1 sm:grid-cols-2 gap-4 px-4 py-12">
    <div class="flex flex-col"><img src="assets/img/img-1.svg" alt="" class="w-full h-auto border-none rounded shadow align-middle"> </div>
    <div class="flex flex-col"><img src="assets/img/img-2.svg" alt="" class="w-full h-auto border-none rounded shadow align-middle"> </div>
</div>

<div class="w-full justify-center px-4">
    <img src="assets/img/img-3.svg" alt="" class="w-full h-auto border-none rounded shadow align-middle">
</div>

<div class="w-full grid grid-cols-1 sm:grid-cols-2 gap-4 px-4 py-12">
    <div class="flex flex-col"><img src="assets/img/img-1.svg" alt="" class="w-full h-auto border-none rounded shadow align-middle"> </div>
    <div class="flex flex-col"><img src="assets/img/img-2.svg" alt="" class="w-full h-auto border-none rounded shadow align-middle"> </div>
</div>