<div class="sticky p-4 bottom-0 flex flex-wrap justify-between items-start w-full container mx-auto footer mb-4">
    <div class="flex flex-col">
        <div class="w-24 h-auto"><img src="assets/img/logo.svg" alt="logo" class="w-full"></div>
        <h3 class="w-full sm:w-72 text-xl font-bold">One of the best furniture agency.</h3>
    </div>
    <div class="flex flex-col">
        <div >
            <ul class="list-none md:list-disc my-3 sm:mb-3"><li>Enter  your email to get the latest news</li></ul>
            <div class="relative flex items-center border-b border-black border-solid py-1">
                <input class="appearance-none w-full py-2 px-3 text-gray-700 font-normal leading-tight focus:outline-none focus:shadow-outline sm:mr-3" id="EmailAddress" type="email" placeholder="Email Address">   
                <img src="assets/img/arrow.svg" alt="" class="absolute ml-64 sm:ml-72 cursor-pointer">   
            </div>
        </div>
        <div class="social-links flex flex-col justify-end items-start sm:items-end my-8">
            <h5 class="text-sm mb-2 relative right-0 sm:right-28">Follow us On</h5>
            <div class="flex"><a href="#" *ngFor="let i of social" class="mr-4 social rounded-full"><img src="{{i.img}}" alt="{{i.name}}" class="p-1"></a></div>
        </div>
    </div>
</div>
